* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  transition: 0.3s;
}
:root {
  --white-color: #ffffff;
  --black-color: #0f0f0f;
  --gray-color: #f2f2f2;
  --gray-text: #606060;
  --hover-color: #d8d8d8;
}
.dark {
  background-color: #1d2a35;
  --white-color: #1d2a35;
  --black-color: #ffffff;
  --gray-color: #29353e;
  --hover-color: #38444d;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
i {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: var(--black-color);
}